@model IEnumerable<Portfolio.Models.Blog>

<h2>Here is your list of blogs, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listBlog in Model)
        {
            <li>@Html.DisplayFor(modelBlog => listBlog.Content)</li>
        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")