@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div style="max-width:2000px">
        <div style="max-width:800px">
            <h2 class="w3-wide">Frank Ngo Portfolio</h2>
            <img src="~/images/Profile.jpg" alt="Alternate Text" style="width:200px; height:200px" />
            <h2>Profile</h2>
            <p>Motivated Junior Web and Software Developer with experience programming in C#, .Net, and Javascript. Skilled in technical support and customer experience in client-facing positions. Adaptable developer who thrives in fast-paced, development-style work environments. Excels in group collaboration and working independently under little supervision. Looking forward to working for a company that values the technical and personal development of its employees.</p>
            <h2>Skills & Abilities</h2>
            <p>Programming Languages - HTML, HTML5, CSS, MySQL, C, C++, C#, .Net Framework, Node.JS, AngularJS</p>
            <p>Scripting Languages - Javascript, Python</p>
            <p>Web Services - JSON, GIT</p>
            <p>  Website Troubleshooting</p>
            <p> UI Design</p>
            <p> Software - Solidworks , AutoCAD, Microsoft Visual Studio</p>
            <p> Computer hardware</p>
            <p> Hardware debugging</p>
            <p>  Computer Algorithms</p>

            <h2>Professional Experience</h2>
            <p>Sales Representative and Technical Support-- Comcast                                                       February 2017 to January 2018</p>

            Phone customer service for sales, technical support and viewing/ scheduling appointments

            <p>Components department associate -- Fry’s Electronics                                                                      July 2016 to February 2017</p>

            <p>
                Customer service in computer components answering and assisting in technical questions and inquiries.
                Debugged and troubleshooted customer and store-manufactured hardware such as hard drives/ solid state drives, Central Processing Units (CPU), Graphical Processing Units (GPU), Power Supply Units (PSU), Motherboards, Random Access Memory (RAM), and other computer hardware.
                Assembled computers by customer design or freestyle.
            </p>

            <p>
                Data Architect Intern -- Kaiser Permanente                                                                                    June 2015 to September 2015

                Vast use of Microsoft Office Excel and Excel Macros for pre-planning data architecture
                Aided in design for Data Architectures for Kaiser to be used as a patient database and scheduling appointments
            </p>

            <h2>Education</h2>
            <p>Portland State University -- Major: Computer Science (qualify for Associates Degree)</p>
            <p>Epicodus -- C#/.Net Framework Course</p>


            <h2>Projects</h2>
            <div class="w3-row w3-padding-32">
                <div class="w3-quarter">
                    <a href="https://github.com/FrankNgo/BorrowUp"><p>BorrowUp</p></a>
                </div>
                <div class="w3-quarter">
                    <a href="https://github.com/FrankNgo/Backr"><p>Backr</p></a>
                </div>
                <div class="w3-quarter">
                    <a href="https://github.com/FrankNgo/GummiBear"><p>GummiBear</p></a>
                </div>
                <div class="w3-quarter">
                    <a href="https://github.com/FrankNgo/place"><p>MyPlace</p></a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <center>
        <h3>Contact Me</h3>
            <i class="fa fa-phone w3-hover-opacity"></i>
            <i class="fa fa-envelope w3-hover-opacity"> </i>
            <a href="https://github.com/FrankNgo"><i class="fa fa-github w3-hover-opacity"></i></a>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </center>
    </footer>
</body>
